
body{
    padding: 0;
    margin: 0;
    background: greenyellow;
}
h1{
    font-size: 6em;
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: 'verdana';
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translateX(-10%) translateY(-10%);
}
