body{
    padding: 0;
    margin: 0;
    background: greenyellow;
}
p{
    font-size: 6em;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'verdana';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-10%) translateY(-50%);
}